# Initialize

In [1]:
import os
import pandas as pd
import numpy as np

from IPython.display import display, Markdown
import math

In [3]:
#directories
working_directory   = os.getcwd()
data_folder         = os.path.join(working_directory, "data"         )
sl_folder           = os.path.join(data_folder, "Streetlight-OD-Data")
intermediate_folder = os.path.join(working_directory, "intermediate" )
results_folder      = os.path.join(working_directory, "results"      )

csvStreetLightTAZ   = os.path.join(data_folder, "StreetLight_TAZ_2019_09_22.csv")
dfStreetLightTAZ    = pd.read_csv(csvStreetLightTAZ)
dfWFRCTAZtoSLTAZ    = dfStreetLightTAZ[dfStreetLightTAZ['SUBAREAID']==1]

#ease of use
daytype0 = '0: All Days (Mo-Su)'
daytype1 = '1: Weekday (Tu-Th)'
daytype2 = '2: Weekend Day (Sa-Su)'
dataper1 = '1. All year'
dataper2 = '2. Sep-Nov'
dataper3 = '3. Dec-Feb'
dataper4 = '4. Mar-May'
dataper5 = '5. Jun-Aug'
daypart0 = '0: All Day (12am-12am)'
daypart1 = '1: Early AM (12am-6am)'
daypart2 = '2: Peak AM (6am-9am)'
daypart3 = '3: Mid-Day (9am-3pm)'
daypart4 = '4: Peak PM (3pm-6pm)'
daypart5 = '5: Late PM (6pm-12am)'

dfDayType = pd.DataFrame({'daytype_code':[       0,       1,       2],
                          'day_type'    :[daytype0,daytype1,daytype2]})
display(dfDayType)

dfDataPer = pd.DataFrame({'dataper_code':[       1,       2,       3,       4,       5],
                          'data_period':[dataper1,dataper2,dataper3,dataper4,dataper5]})
display(dfDataPer)

dfDayPart = pd.DataFrame({'daypart_code':[       0,       1,       2,       3,       4,       5],
                          'day_part'    :[daypart0,daypart1,daypart2,daypart3,daypart4,daypart5]})
display(dfDayPart)

#big data field names
fnCounts = 'o_d_traffic_sample_trip_counts'
fnVolume = 'o_d_traffic_calibrated_trip_volume'

#show numbers with commas
pd.options.display.float_format = '{:,.0f}'.format

   daytype_code                day_type
0             0     0: All Days (Mo-Su)
1             1      1: Weekday (Tu-Th)
2             2  2: Weekend Day (Sa-Su)

   dataper_code  data_period
0             1  1. All year
1             2   2. Sep-Nov
2             3   3. Dec-Feb
3             4   4. Mar-May
4             5   5. Jun-Aug

   daypart_code                day_part
0             0  0: All Day (12am-12am)
1             1  1: Early AM (12am-6am)
2             2    2: Peak AM (6am-9am)
3             3    3: Mid-Day (9am-3pm)
4             4    4: Peak PM (3pm-6pm)
5             5   5: Late PM (6pm-12am)

In [4]:
#Special Generators
dSpecGen = [
    ['ENSIGN'       , 1029, 'WFRC College'                     ],
    ['WESTMIN'      , 1263, 'WFRC College'                     ],
    ['UOFU_MAIN'    , 1051, 'WFRC College'                     ],
    ['UOFU_MED'     , 1007, 'WFRC College'                     ],
    ['WSU_OGDEN'    ,  437, 'WFRC College'                     ],
    ['WSU_DAVIS'    ,  693, 'WFRC College'                     ],
    ['WSU_WEST'     ,  521, 'WFRC College'                     ],
    ['SLCC_TL'      , 1580, 'WFRC College'                     ],
    ['SLCC_SC'      , 1231, 'WFRC College'                     ],
    ['SLCC_JD'      , 1776, 'WFRC College'                     ],
    ['SLCC_MEAD'    , 1491, 'WFRC College'                     ],
    ['SLCC_ML'      , 1886, 'WFRC College'                     ],
    ['SLCC_LB'      , 1147, 'WFRC College'                     ],
    ['SLCC_HL'      , 1525, 'WFRC College'                     ],
    ['SLCC_AIRP'    ,  979, 'WFRC College'                     ],
    ['SLCC_WEST'    ,  959, 'WFRC College'                     ],
    ['SLCC_HM'      , 2053, 'WFRC College'                     ],
    ['BYU'          , 2939, 'MAG College'                      ],
    ['UVU_MAIN'     , 2848, 'MAG College'                      ],
    ['UVU_GENEVA'   , 2882, 'MAG College'                      ],
    ['UVU_THANKP'   , 2606, 'MAG College'                      ],
    ['UVU_VINE'     , 2809, 'MAG College'                      ],
    ['UVU_PAYSON'   , 3336, 'MAG College'                      ],
    ['Lagoon'       ,  781, 'Special Generator - Trip Table'   ],
    ['Airport'      ,  965, 'Special Generator - Trip Table'   ],
    ['TempleSquare' , 1035, 'Special Generator - No Trip Table'],
    ['SLC_Library'  , 1147, 'Special Generator - No Trip Table']
]

dfSpecGen = pd.DataFrame(dSpecGen, columns = ['SpecGen','SA_TAZID','Type'])

#add TAZ to end of name to specify that it is the TAZ itself and not the special generator
#dfSpecGen['SpecGen'] = dfSpecGen['SpecGen'].astype(str) + " TAZ" 

#join to StreetLight TAZ to get associated SL_COTAZIDs for each TAZ
dfSpecGenWithSLTAZ = pd.DataFrame.merge(dfSpecGen,dfWFRCTAZtoSLTAZ[['SA_TAZID','SL_COTAZID']],on='SA_TAZID')

#generate lsit for use in SQL script
dfSpecGenList = dfSpecGenWithSLTAZ["SL_COTAZID"].tolist()

# Import Data

# Process Data

In [6]:
#Merge to Get Origin SpecGen
dfSLData = pd.DataFrame.merge(dfSpecGenWithSLTAZ,dfSpecGenODData,left_on='SL_COTAZID',right_on='origin_zone_name',how='right')
dfSLData = dfSLData.fillna("")
dfSLData = dfSLData.rename(columns=({'SpecGen':'SpecGenO'}))
dfSLData = dfSLData.drop(columns=(['SA_TAZID','Type','SL_COTAZID']))

#Merge to Get Destination SpecGen
dfSLData = pd.DataFrame.merge(dfSpecGenWithSLTAZ,dfSLData,left_on='SL_COTAZID',right_on='destination_zone_name',how='right')
dfSLData = dfSLData.fillna("")
dfSLData = dfSLData.rename(columns=({'SpecGen':'SpecGenD'}))
dfSLData = dfSLData.drop(columns=(['SA_TAZID','Type','SL_COTAZID']))

dfSLData['SpecGen']=""
dfSLData['Intrazonal']=0
dfSLData.loc[(dfSLData['SpecGenO']==dfSLData['SpecGenD']),'Intrazonal']=1

dfSLData.loc[(dfSLData['SpecGenO']!=""),'SpecGen']=dfSLData['SpecGenO']
dfSLData.loc[(dfSLData['SpecGenD']!=""),'SpecGen']=dfSLData['SpecGenD']

dfSLData

,SpecGenD,SpecGenO,Unnamed: 0,origin_zone_name,destination_zone_name,daytype_code,daypart_code,dataper_code,o_d_traffic_sample_trip_counts,o_d_traffic_calibrated_trip_volume,SpecGen,Intrazonal
0,,Airport,0,350060_1,351010_0,2,5,1,13,4,Airport,0
1,,Airport,1,350060_1,490955_0,2,0,1,13,4,Airport,0
2,,UOFU_MED,2,350102_2,490478_0,2,0,1,13,4,UOFU_MED,0
3,,UVU_PAYSON,3,491120_0,490935_0,2,0,1,13,4,UVU_PAYSON,0
4,Airport,,4,490247_0,350060_1,2,1,1,13,4,Airport,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5003111,SLCC_LB,,776980,350287_0,350242_0,0,3,3,6,2,SLCC_LB,0
5003112,SLC_Library,,776980,350287_0,350242_0,0,3,3,6,2,SLC_Library,0
5003113,,BYU,776981,490723_1,490798_2,0,0,3,6,2,BYU,0
5003114,,Airport,776982,350060_1,50368_2,0,0,3,6,2,Airport,0
5003115,Airport,,776983,351124_0,350060_1,0,4,3,6,2,Airport,0

In [7]:
#show some stats
display(dfSLData.groupby(['SpecGen','Intrazonal']).agg(Counts=(fnCounts,'sum'),Volume=(fnVolume,'sum')))

#df with no intrazonals
dfSLData_noIntrazonals = dfSLData[dfSLData['Intrazonal']==0]

display(dfSLData_noIntrazonals)

                          Counts    Volume
SpecGen      Intrazonal
Airport      0           5731892 1,955,514
             1           1012952   344,616
BYU          0           4797776 1,572,493
             1            690352   218,295
ENSIGN       0            322412   103,055
Lagoon       0            871696   318,112
             1             20688     7,539
SLCC_AIRP    0            993284   321,769
             1             33356    10,684
SLCC_HL      0            501612   167,548
             1              1804       618
SLCC_HM      0            953592   329,477
             1              9720     3,287
SLCC_JD      0            357392   116,437
             1               252        80
SLCC_LB      0            199276    69,352
SLCC_MEAD    0            185116    57,711
             1               148        47
SLCC_ML      0            486296   153,844
             1              1600       507
SLCC_SC      0            715520   238,305
             1              2128       692
SLCC_TL      0           1071664   350,630
             1              6464     2,119
SLCC_WEST    0            320112   102,852
             1              9432     3,133
SLC_Library  0            199276    69,352
TempleSquare 0           1153464   392,997
             1                 4         1
UOFU_MAIN    0           3321408 1,084,665
             1            264736    83,454
UOFU_MED     0           2645660   849,359
             1             14212     4,377
UVU_GENEVA   0            886416   298,693
             1              6448     2,245
UVU_MAIN     0           2531324   807,857
             1            136456    42,087
UVU_PAYSON   0             55884    19,055
             1                 8         4
UVU_THANKP   0            349108   111,953
             1                24         8
UVU_VINE     0             31460    10,420
             1                16         7
WESTMIN      0            299792    99,368
             1               164        56
WSU_DAVIS    0           1145412   380,195
             1             11972     3,949
WSU_OGDEN    0           1455820   470,969
             1             61872    19,567
WSU_WEST     0            589672   202,685
             1              9036     3,373

,SpecGenD,SpecGenO,Unnamed: 0,origin_zone_name,destination_zone_name,daytype_code,daypart_code,dataper_code,o_d_traffic_sample_trip_counts,o_d_traffic_calibrated_trip_volume,SpecGen,Intrazonal
0,,Airport,0,350060_1,351010_0,2,5,1,13,4,Airport,0
1,,Airport,1,350060_1,490955_0,2,0,1,13,4,Airport,0
2,,UOFU_MED,2,350102_2,490478_0,2,0,1,13,4,UOFU_MED,0
3,,UVU_PAYSON,3,491120_0,490935_0,2,0,1,13,4,UVU_PAYSON,0
4,Airport,,4,490247_0,350060_1,2,1,1,13,4,Airport,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5003111,SLCC_LB,,776980,350287_0,350242_0,0,3,3,6,2,SLCC_LB,0
5003112,SLC_Library,,776980,350287_0,350242_0,0,3,3,6,2,SLC_Library,0
5003113,,BYU,776981,490723_1,490798_2,0,0,3,6,2,BYU,0
5003114,,Airport,776982,350060_1,50368_2,0,0,3,6,2,Airport,0
5003115,Airport,,776983,351124_0,350060_1,0,4,3,6,2,Airport,0

In [8]:
dfSLDataAggCodesOnly = dfSLData_noIntrazonals.groupby(['SpecGen','daytype_code','daypart_code','dataper_code'], as_index=False).agg(Volume=(fnVolume,'sum'),Counts=(fnCounts,'sum'))

display(dfSLDataAggCodesOnly)

       SpecGen  daytype_code  daypart_code  dataper_code  Volume  Counts
0      Airport             0             0             1  67,149  845148
1      Airport             0             0             2  61,246  192187
2      Airport             0             0             3  66,019  204886
3      Airport             0             0             4  66,129  209787
4      Airport             0             0             5  75,113  238288
...        ...           ...           ...           ...     ...     ...
2425  WSU_WEST             2             5             1   1,491    5347
2426  WSU_WEST             2             5             2   1,482    1329
2427  WSU_WEST             2             5             3   1,289    1111
2428  WSU_WEST             2             5             4   1,567    1405
2429  WSU_WEST             2             5             5   1,613    1502

[2430 rows x 6 columns]

In [9]:
dfSLDataAggDT     = pd.DataFrame.merge(dfSLDataAggCodesOnly    ,dfDayType,on='daytype_code')
dfSLDataAggDTDP   = pd.DataFrame.merge(dfSLDataAggDT           ,dfDayPart,on='daypart_code')
dfSLDataAggDTDPDP = pd.DataFrame.merge(dfSLDataAggDTDP         ,dfDataPer,on='dataper_code')
dfSLDataAgg = dfSLDataAggDTDPDP
dfSLDataAgg

,SpecGen,daytype_code,daypart_code,dataper_code,Volume,Counts,day_type,day_part,data_period
0,Airport,0,0,1,"67,149",845148,0: All Days (Mo-Su),0: All Day (12am-12am),1. All year
1,BYU,0,0,1,"56,648",712981,0: All Days (Mo-Su),0: All Day (12am-12am),1. All year
2,ENSIGN,0,0,1,"3,786",47653,0: All Days (Mo-Su),0: All Day (12am-12am),1. All year
3,Lagoon,0,0,1,"10,080",126871,0: All Days (Mo-Su),0: All Day (12am-12am),1. All year
4,SLCC_AIRP,0,0,1,"11,693",147167,0: All Days (Mo-Su),0: All Day (12am-12am),1. All year
...,...,...,...,...,...,...,...,...,...
2425,UVU_VINE,2,5,5,39,36,2: Weekend Day (Sa-Su),5: Late PM (6pm-12am),5. Jun-Aug
2426,WESTMIN,2,5,5,421,392,2: Weekend Day (Sa-Su),5: Late PM (6pm-12am),5. Jun-Aug
2427,WSU_DAVIS,2,5,5,"2,333",2172,2: Weekend Day (Sa-Su),5: Late PM (6pm-12am),5. Jun-Aug
2428,WSU_OGDEN,2,5,5,"2,258",2102,2: Weekend Day (Sa-Su),5: Late PM (6pm-12am),5. Jun-Aug
2429,WSU_WEST,2,5,5,"1,613",1502,2: Weekend Day (Sa-Su),5: Late PM (6pm-12am),5. Jun-Aug

In [10]:
dfSLDataAgg['data_period'].unique()

array(['1. All year', '2. Sep-Nov', '3. Dec-Feb', '4. Mar-May',
       '5. Jun-Aug'], dtype=object)

In [11]:
dfSLDailyTotals = dfSLDataAgg[(dfSLDataAgg['day_part']==daypart0)].copy()
dfSLTimeOfDayVolumes = dfSLDataAgg[(dfSLDataAgg['day_part']!=daypart0)].copy()

display(dfSLDailyTotals[dfSLDailyTotals['SpecGen']=='Airport TAZ'])
display(dfSLTimeOfDayVolumes[dfSLTimeOfDayVolumes['SpecGen']=='Airport TAZ'])

dfSLDailyTotals.to_csv(os.path.join(results_folder,"SpecGenTAZ_SLDailyTotals.csv"))
dfSLTimeOfDayVolumes.to_csv(os.path.join(results_folder,"SpecGenTAZ_SLTimeOfDayVolumes.csv"))

dfSLDailyTotals.to_json(os.path.join(results_folder,"SpecGenTAZ_SLDailyTotals.json"),orient='records')
dfSLTimeOfDayVolumes.to_json(os.path.join(results_folder,"SpecGenTAZ_SLTimeOfDayVolumes.json"),orient='records')

Empty DataFrame
Columns: [SpecGen, daytype_code, daypart_code, dataper_code, Volume, Counts, day_type, day_part, data_period]
Index: []

Empty DataFrame
Columns: [SpecGen, daytype_code, daypart_code, dataper_code, Volume, Counts, day_type, day_part, data_period]
Index: []

# Summary Tables and Charts by Special Generator

In [12]:
import ipywidgets as widgets
import bqplot as bq

from IPython.display import display

In [16]:
def getSeasonChartData(sg):
    df = dfSLDailyTotals[(dfSLDailyTotals['SpecGen']==sg)].copy()
    df['daytype_index'] = df['day_type'].str[0]
    df['dataper_index'] = df['data_period'].str[0]
    df = df[['day_type','data_period','Volume','dataper_index']]
    df = pd.pivot_table(df, values='Volume', index=['dataper_index'], columns=['day_type'], aggfunc=np.sum)
    df = df.reset_index()
    return df

def getTimeOfDayChartData(sg,dataper):
    df = dfSLTimeOfDayVolumes[(dfSLTimeOfDayVolumes['SpecGen']==sg) & (dfSLTimeOfDayVolumes['data_period']==dataper)].copy()
    df['daytype_index'] = df['day_type'].str[0]
    df['daypart_index'] = df['day_part'].str[0]
    df = df[['day_type','Volume','daypart_index']]
    df = pd.pivot_table(df, values='Volume', index=['daypart_index'], columns=['day_type'], aggfunc=np.sum)
    df = df.reset_index()
    return df

#initialize
dfSsnData = getSeasonChartData("Airport")
display(dfSsnData)

dfTodData = getTimeOfDayChartData("Airport","1. All year")
display(dfTodData)

day_type,dataper_index,0: All Days (Mo-Su),1: Weekday (Tu-Th),2: Weekend Day (Sa-Su)
0,1,"67,149","69,543","58,929"
1,2,"61,246","64,006","53,060"
2,3,"66,019","66,912","58,386"
3,4,"66,129","69,121","57,036"
4,5,"75,113","78,202","66,906"

day_type,daypart_index,0: All Days (Mo-Su),1: Weekday (Tu-Th),2: Weekend Day (Sa-Su)
0,1,"6,703","6,752","5,917"
1,2,"9,756","10,109","8,280"
2,3,"24,146","25,167","20,976"
3,4,"10,494","11,139","8,918"
4,5,"16,050","16,377","14,837"

In [17]:
from bqplot import pyplot as plt

#Special generators widget
ddSpecGen = widgets.Dropdown(
    options=dfSLDataAgg['SpecGen'].unique(),
    #value='2',
    description='Special Generator:',
    disabled=False,
)

#data period widget
ddDataPeriod = widgets.Dropdown(
    options=dfSLDataAgg['data_period'].unique(),
    #value='2',
    description='Season:',
    disabled=False,
)



button = widgets.Button(
    description='click me to raise an exception',
    layout={'width': '300px'}
)

#initialize

fig_ssn = plt.figure(title=ddSpecGen.value + ' Seasonality',
                     layout=widgets.Layout(width='700px',height='400px'),
                     fig_margin={'top':50, 'bottom':50, 'left':150, 'right':150},
                     legend_location="top-left")

bar_chart_ssn  = plt.bar(x = dfSsnData['dataper_index'].tolist(), y= [dfSsnData[daytype0].tolist(),dfSsnData[daytype1].tolist(),dfSsnData[daytype2].tolist()],
                         labels = dfSLDataAgg['day_type'].unique().tolist(),
                         display_legend=True)

fig_ssn.axes[0].label = "All year - - - Sep-Nov - - - Dec-Feb - - - Mar-May - - - Jun-Aug"
fig_ssn.axes[1].label = "Average Daily Trip Ends"


fig_tod = plt.figure(title=ddSpecGen.value + ' Time of Day Distribution - ' + ddDataPeriod.value,
                     layout=widgets.Layout(width='700px',height='400px'),
                     fig_margin={'top':50, 'bottom':50, 'left':150, 'right':150},
                     legend_location="top-left")

bar_chart_tod  = plt.bar(x = dfTodData['daypart_index'].tolist(), y= [dfTodData[daytype0].tolist(),dfTodData[daytype1].tolist(),dfTodData[daytype2].tolist()],
                         labels = dfSLDataAgg['day_type'].unique().tolist(),
                         display_legend=True)

fig_tod.axes[0].label = "Early AM ------- AM --------- Midday --------- PM ------- Late EV"
fig_tod.axes[1].label = "Average Period Trip Ends"

fig_ssn.axes[0].tick_style  =  dict({'font-family': 'Verdana','font-size': '15px','font-weight': 'normal'})
fig_tod.axes[0].tick_style  =  dict({'font-family': 'Verdana','font-size': '15px','font-weight': 'normal'})

fig_ssn.axes[1].tick_style  =  dict({'font-family': 'Verdana','font-size': '9px','font-weight': 'normal'})
fig_tod.axes[1].tick_style  =  dict({'font-family': 'Verdana','font-size': '9px','font-weight': 'normal'})

fig_tod.axes[0].tick_values = ['A','B','C','D','E']

bar_chart_ssn.type = "grouped"
bar_chart_ssn.colors = ["blue","orange","green"]

bar_chart_tod.type = "grouped"
bar_chart_tod.colors = ["blue","orange","green"]

ssn = widgets.VBox(
    children=(ddSpecGen,fig_ssn)
)
tod = widgets.VBox(
    children=(ddDataPeriod,fig_tod)
)

app = widgets.HBox(
    children=(ssn,tod)
)



#debug_view.capture(clear_output=True)
def refreshApp(event):
    dfTodData = getTimeOfDayChartData(ddSpecGen.value,ddDataPeriod.value)
    dfSsnData = getSeasonChartData(ddSpecGen.value)

    y_max_ssn = math.ceil( dfSLDailyTotals[(dfSLDailyTotals['SpecGen']==ddSpecGen.value)].select_dtypes(include=['float']).max().max()/1000) * 1000
    y_max_tod = math.ceil( dfSLTimeOfDayVolumes[(dfSLTimeOfDayVolumes['SpecGen']==ddSpecGen.value)].select_dtypes(include=['float']).max().max()/1000) * 1000

    bar_chart_ssn.y = [dfSsnData[daytype0].tolist(),dfSsnData[daytype1].tolist(),dfSsnData[daytype2].tolist()]
    bar_chart_tod.y = [dfTodData[daytype0].tolist(),dfTodData[daytype1].tolist(),dfTodData[daytype2].tolist()]

    #plt.ylim(0, y_max_tod)
    fig_ssn.axes[1].scale.max = y_max_ssn + 15000 #add a bit to account for legend space
    fig_tod.axes[1].scale.max = y_max_tod + 10000 #add a bit to account for legend space

    
    fig_ssn.title = ddSpecGen.value + ' Seasonality'
    fig_tod.title = ddSpecGen.value + ' Time of Day Distribution - ' + ddDataPeriod.value[2:]
    #bar_chart_tod.colors = ["orange","blue","green"]
    app


ddSpecGen.observe(refreshApp)
ddDataPeriod.observe(refreshApp)


display(app)

HBox(children=(VBox(children=(Dropdown(description='Special Generator:', options=('Airport', 'BYU', 'ENSIGN', …

#### CURRENTLY IN TDM: Airport Special Generator Control Total 2019: 32,700 / Lagoon Special Generator Control Total 2019: 7,434